body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

<<<<<<< HEAD

#FiltreLettre
{
    background-color:black;
}




.DivPresentation {

    height: 220px;
}

.Presentation {

    overflow: hidden;
    overflow-wrap: break-word;
    text-transform: none;
    height: 100px;
}
.points{
    display: block;
}
.photo {
    width: 100%;
    object-fit: cover;
    
}
.redimension
{
    overflow:hidden;
    height: 300px;
}
.DescriptionArtiste
{
    background-color: whitesmoke;
}

/*Deuxieme version pour afficher les ...*/
.DivPresentationArtiste {
    
    height: 100px;
    
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.PresentationListArtiste {
    overflow: hidden;
    text-overflow: ellipsis;
}

.NomTitre {
    max-width: 200px;
    
    overflow: hidden;
    text-overflow: ellipsis;
}
=======
.theme-img {
    max-height: 500px !important;
}
>>>>>>> 70b3d106b9b31c8f2087d29f05253eea7d38fd06
